<form action="/" enctype="multipart/form-data" ><br><br>
    <center><body bgcolor="#3ecfaf"><img src="https://lahaus.imgix.net/static/branding/logo-lahaus-icon-white.svg?auto=compress,format&dpr=2" width="200"></p></center><br><br>
    <center><input style="WIDTH: 300px; HEIGHT: 30px" type="text" name ="nombre" placeholder="Usuario" align="right"> </center>
</form>
<form>  
    <center><input style="WIDTH: 300px; HEIGHT: 30px" type="Integer" name ="money" placeholder="Contraseña"></center>
</form>
<div>
    <center ><p><strong><a href="/password">Olvidaste Tu Contraseña</a></strong></p></center>
</div>
<div>
    <center ><p><strong><a href="/register">Registrate</a></strong></p></center>
</div>
<form>
    <center><button type='submit'><a href="/saldo">Ingresa</a></button></center>
    
</form>



