<form action="/" enctype="multipart/form-data" ><br><br>
    <center><body bgcolor="#3ecfaf"><img width="200"src="https://lahaus.imgix.net/static/branding/logo-lahaus-icon-white.svg?auto=compress,format&dpr=2"></p></center><br><br>
    <center><input style="WIDTH: 300px; HEIGHT: 30px" type="text" name ="nombre" placeholder="Primer Nombre" align="right"> </center><br>
    <center><input style="WIDTH: 300px; HEIGHT: 30px" type="text" name ="nombre1" placeholder="Segundo Nombre" align="right"> </center><br>
    <center><input style="WIDTH: 300px; HEIGHT: 30px" type="text" name ="Apellido" placeholder="Primer Apellido" align="right"> </center><br>
    <center><input style="WIDTH: 300px; HEIGHT: 30px" type="text" name ="Apellido1" placeholder="Segundo Apellido" align="right"> </center><br>
    <center><input style="WIDTH: 300px; HEIGHT: 30px" type="text" name ="email" placeholder="Correo Electronico" align="right"> </center><br>
    <center><input style="WIDTH: 300px; HEIGHT: 30px" type="text" name ="phone" placeholder="Telefono Celular" align="right"> </center><br>
</form>
<form>
    <center><button type='submit'>Registrar</button></center>
</form>
<div>
    <center ><p><strong><a href="/">Ingresar</a></strong></p></center>
</div>



