<form action="/" enctype="multipart/form-data" ><br><br>
    <center><body bgcolor="#3ecfaf"><img width="200" src="https://lahaus.imgix.net/static/branding/logo-lahaus-icon-white.svg?auto=compress,format&dpr=2"></p></center><br><br>
        <center><p><font size="90"> Este Es Tu resumen</font></p></center><br>
    <center>
        <table>
            <tr>
              <th style="WIDTH: 200px; HEIGHT: 80px">DETALLES DEL PRODUCTO</th>
              <th style="WIDTH: 200px; HEIGHT: 80px">MOVIMIENTOS</th>
            </tr>
            <tr>
              <td style="WIDTH: 200px; HEIGHT: 80px"> 20 Oct 2022</td>
              <td style="WIDTH: 200px; HEIGHT: 80px">869.400</td>
            </tr>
            <tr>
              <td style="WIDTH: 200px; HEIGHT: 80px">18 Oct 2022</td>
              <td style="WIDTH: 200px; HEIGHT: 80px">-300000</td>
            </tr>
              <tr>
              <td style="WIDTH: 200px; HEIGHT: 80px">14 Oct 2022</td>
              <td style="WIDTH: 200px; HEIGHT: 80px">1.560.000</td>
            </tr>
          </table>
    </center>
</form>
<div>
    <center ><p><strong><a href="/">Salir</a></strong></p></center>
</div>



